@charset "euc-kr";

/**** main *****/
#wrapper {
	position:relative;
	width:100%;
	margin:0 auto;
}
#header {
	position:relative;
	margin:0 auto;
}
#header .title{float:left; font-weight: 600; font-size: 50px; text-align:left;}
#header .title span{font-weight: 300; font-size: 32px;}
#header .utilCont{float:right; width:35%; padding:10px 0;}
#header .utilCont p{font-weight: 300; font-size: 28px;}
#header .utilCont .utilCont_btn{width:200px; padding:15px 0; background: green; color:#fff; text-align:center;}
#header .utilMenu{width:100%; padding:0 10px; display: flex;justify-content: space-between;flex-wrap: wrap;}
#header .utilMenu li{width: 50%;}
#header .utilMenu li a{font-size: 24px; font-weight: 400;}

#container {
	position:relative;
	width:1080px;
	margin:0 auto;
}

/*  */
#container .tab_btn{
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}
#container .tab_btn.fixed{position: fixed; top:0; left:50%; transform:translateX(-50%);	 transition:top 0.5s; width: 1080px;}
#container .tab_btn li{width: 25%;}
#container .tab_btn li.tabOn{background: red;}
#container .tab_btn li a{width: 100%;display: block; padding:30px 0;}
#container .tabCnt .tabCntList{display: none;}
#container .sm_tab{display: flex; justify-content: space-between;}
#container .sm_tab li{width: 100%; background: pink;}
#container .sm_tab li a{display: block;}
#container .sm_tab li.tabOn{background: yellow;}
#container .sm_cont{display: none;}

#container .sm_tab1{display: flex; justify-content: space-between;}
#container .sm_tab1 li{width: 100%; background: pink;}
#container .sm_tab1 li a{display: block;}
#container .sm_tab1 li.tabOn{background: yellow;}
#container .sm_cont1{display: none;}