@use 'reset';
.list{
    width:1200px; margin:0 auto; margin-top:30px;box-sizing:border-box;
    li{
        border:1px solid #ddd;
        margin-top:-1px;
        padding:20px;
    }
    .active{
        background:#333;
        color:#fff;
    }
    :hover{
        background:blue;
    }
}
.alertBox{
    width:1200px; margin:0 auto; margin-top:50px;
}
.alert{
    width:1200px; 
    margin:0 auto; 
    padding:20px; 
    font-weight:600;
    margin-bottom:20px;
    box-sizing: border-box
}
.alert-green{
    @extend .alert;
    color:#3c763d;
    background:#deefd7;
}
.alert-blue{
    @extend .alert;
    color:#31708f;
    background:#d9edf7;
}
.alert-red{
    @extend .alert;
    color:#a66d3b;
    background:#fcf8e3;
}
@mixin column($넓이){
    float:left;
    padding:15px;
    width:$넓이;
    background: #ded9e5;
    color:#919097;
    border:1px solid #919097;
}
.row .col-6{
    @include column(50%);
}
.row .col-4{
    @include column(33.3%);
}
