//다른 파일에 있는 내용을 가져오고 싶을 땐 @use '파일경로';
@use 'reset';

$main-color : #2a4cb2;
$sub-color : #eee;
$기본사이즈 : 16px;

.background{
    background-color: $main-color;
    font-size: ($기본사이즈 * 2);
    color : reset.$메인칼라;
}
.box{
    width:100%;
    background:$main-color;
    font-size: ($기본사이즈 + 2px);
}

.main-bg h4{font-size:16px;}
.main-bg button{color:red;}

//nesting 문법
.main-bg{
    width:100px;
    h4{
        font-size:16px;
    }
    button{
        color:red;
    }
}

//@extend문법 - %로 쓰면 임시로 쓰는거여서 저것만 단독적으로 사용 불가
%btn{
    width:100px; height:30px; padding:20px; 
}
.btn-green{
    @extend %btn;
    color:green;
}
.btn-red{
    @extend %btn;
    color:red;
}
.btn-blue{
    @extend %btn;
    color:blue;
}

//div 박스를 초록 빨강 파랑으로 디자인 해보기
//@extend문법 - %대신 .을쓰게되면 단독으로도 사용 가능
.bg{
    width:200px; height:200px; padding:20px;
}
.bg-green{
    @extend .bg;
    background-color:green;
}
.bg-red{
    @extend .bg;
    background-color:red;
}
.bg-blue{
    @extend .bg;
    background-color:blue;
}

//@mixin 문법
h2{
    font-size:30px; 
    letter-spacing:-1px;
}
h3{
    font-size:20px; 
    letter-spacing:-1px;
}
h4{
    font-size:10px; 
    letter-spacing:-1px;
}

@mixin fontStyle($구멍,$구멍2,$구멍3){
    font-size:$구멍; 
    letter-spacing:$구멍2;
    background:$구멍3;
}
h6{
    @include fontStyle(20px ,-1px,#fff);
}
h7{
    @include fontStyle(40px ,-2px, #000);
}

@mixin sizeChange($color, $size, $name){
    #{ $color } : red;
    width : $size;
    #{ $name } : yellow;
}
.change{
    @include sizeChange( color ,20px ,background-color);
}